[data-testid="stSidebar"] {
    background-image: url(https://raw.githubusercontent.com/fathur071203/TSixVCode/main/logo-tsixv.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 19px 33px;
}


.metric-container {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background: #FFFF;
    padding: 25px;
    border-radius: 8px;
    border: 2px solid black; /* Add this line for a black border */
}


.metric-label{
    font-size: 30px;
    font-weight: bold;
}

