[data-testid="stSidebar"] {
    background-image: url('logo-tsisxv.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 19px 33px;
    margin-bottom: 25px;
}


/* Title */
/* div.st-emotion-cache-k7vsyb{
    background-color: aqua;
} */
